
.top{
    font-weight: bold;
}
.second-name,.first-name{
    font-weight: bold;

}
h3, h4{
    font-weight: bold;

}
.skills{
    font-weight: bold;
}
.nav-link{
    color: aliceblue;
}
.nav-item{
    color: aliceblue;

}