<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문주영의 포트폴리오</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
    <th:block th:include="headerFragment :: headerFragment"></th:block>
</head>
<body>
<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">문주영의 포트폴리오</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav justify-content-center" id="navbarheader">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Archiving</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Carrer</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</body>
</html>