<th:block th:fragment="headerFragment">
  
  <header data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">문주영의 포트폴리오</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav justify-content-center" id="navbarheader">
            <li class="nav-item">
              <a class="nav-link" href="#about-me">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#work_experience">Work experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#work_projects">Work projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#awards">Awards</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</th:block>
    
    

  </div>
</th:block>