<th:block th:fragment="skills">
  <section id="skills">
    <div class="row">
      <h3 class="dev mt-5">🛠 Skills</h3>
      <hr class="my-2 mb-4">

      <div class="container mb-5">
        <div class="row">
          <div class="col-lg-5">
            <h5 class="skills">• Backend</h5>
          </div>
          <div class="col-lg-7">
            <h6>• Python, Django</h6>
            <h6>• JavaScript</h6>
            <h6>• MySQL, SQLite</h6>
          </div>
        </div>
      </div>

      <div class="container mb-5">
        <div class="row">
          <div class="col-lg-5">
            <h5 class="skills">• Frontend</h5>
          </div>
          <div class="col-lg-7">
            <h6>• JavaScript, HTML5, CSS3 </h6>
            <h6>• JavaScript</h6>
          </div>
        </div>
      </div>

      <div class="container mb-5">
        <div class="row">
          <div class="col-lg-5">
            <h5 class="skills">• Tools</h5>
          </div>
          <div class="col-lg-7">
            <h6>• TensorFlow, PyTorch</h6>
            <h6>• Github</h6>
            <h6>• AWS</h6>
            <h6>• Notion</h6>

          </div>
        </div>
      </div>
        
    </div>
</section>
</th:block>