<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
  <div class="row">
    <div class="col-lg-2">
      <h1></h1>
    </div>
    <div class="col-lg-8">
      <div class="container-top">
        <!-- <h1 class="top mb-4">문주영의 기술경력서</h1> -->
      </div>
      <div class="container-top2">
        <!-- <h1 class="top mb-4"><h3>👨‍💼Backend Engineer, AI Developer</h3></h1> -->
      </div>
      <div class="container-top3">
        <h1 class="top mb-4">
          <!-- <h3>📃Profile</h3> -->
          <hr class="my-2">
          <!-- <h5>🎁1998년 4월 1일 출생</h5> -->
          <!-- <h5>💒호서대학교 졸업(2018.03-2024.08)(졸업예정)</h5> -->

          </h1>
      </div>
      

    </div>
    <div class="col-lg-2">
      <h1></h1>
    </div>
  </div>
</body>
</html>