<th:block th:fragment="toppage">
    <link rel="stylesheet" type="text/css" href="css/carousel.css">
    <link rel="stylesheet" type="text/css" href="css/body.css">
        <!-- 상단부분 시작 -->
        <div class="container-top mb-2">
            <h1 class="top mb-2" style="margin-top: 7vh;">문주영의 기술경력서</h1>
        </div>
        <div class="container-top2 mb-5">
        <h1 class="top mb-4"><h3>👨‍💼Backend Engineer, AI Developer</h3></h1>
        </div>
        <div class="container-top3">
        <div class="top mb-5">
            <h3 class="first-name">📃Profile</h3>
            <hr class="my-2">
            <h6>🎁1998년 4월 1일 출생</h5>
            <h6 class="dev mb-5">💒호서대학교 졸업(2018.03-2024.08)(졸업예정)</h5>
        </div>

        <div class="second">
            <h3 class="second-name mt-5">📞Contact information</h3>
            <hr class="my-2">
            <h6>✉moonjr98@naver.com</h3>
            <h6>💻https://github.com/moonjr987</h3>
        </div>
    </div>
</th:block>