<th:block th:fragment="work_experience">
  <section id="work_experience">
    <div class="row">
      <h3>👨‍💻 Work Experience</h3>
      <hr class="my-2 mb-4">
      
        <div class="col-lg-5">
          <h5 class="skills">2022.8 - 2024.02</h5>
        </div>
      
        <div class="col-lg-7">
          <h5 class="dev mb-3 skills">호서대학교 AI연구실</h5>
          <h6 class="dev mb-2">Python Django를 활용한 웹플랫폼 프로젝트를 진행하였으며, AI관련 대회들을 참가하여 수상한 이력이 있습니다. </h6>
          <h6 class="dev mb-3">사용한 기술: Django, JavaScript, HTML5, CSS3, JQuery, TensorFlow, PyTorch, MySQL, SQLlite, AWS</h6>

        </div>
      
    </div>
</section>
</th:block>