<th:block th:fragment="work_projects">
  <section id="work_projects">
    <div class="row">
      <h3>🎞 Work Projects</h3>
      <hr class="my-2 mb-4">
      <!-- 치과 자동화 프로그램 -->
      <div class="container mb-5"> 
        <div class="row">
          <div class="col-lg-5">
            <h5 class="skills">2023.09 - 2023.11</h5>
          </div>
          <div class="col-lg-7">
            <h5 class="skills mb-5">치과 자동화 프로그램 개발</h5>
            <h6><span style="font-weight:bold">인력구성</span>: </h6>
            <h6 class="dev mb-4">1명</h6>
            <h6><span style="font-weight:bold">프로젝트 목적</span></h6>
            <h6 class="dev mb-4">환자들의 교정 치료를 위한 정밀 진단 분석 및 치료 계획을 자동으로 작성하게 하기위함</h6>
            <h6><span style="font-weight:bold">주요업무 및 상세역할</span>:</h6>
            <h6 class="dev mb-4">Python을 활용하여 개발하였습니다. 병원에서 받은 샘플 자료들을 분석하여, 양식에 따라 개발하였고, 진단 사항 및 치료 계획을 의료진 뿐 아니라, 환자 본인 에게도 한눈에 알아볼 수 있게 하였습니다.</h6>
            <h6><span style="font-weight:bold">사용언어 및 개발환경</span>: </h6>
            <h6 class="dev mb-4">Python3.11</h6>
            <a href="https://github.com/moonjr987/Dental_ppt_auto">https://github.com/moonjr987/Dental_ppt_auto</a>
          </div>
        </div>
      </div>
      
      <!-- 지역 경제 활성화 정부 프로젝트 -->
      <div class="container mb-5 mt-5"> 
        <div class="row">
          <div class="col-lg-5">
            <h5 class="skills">2023.05 - 2023.09</h5>
          </div>
          <div class="col-lg-7">
            <h5 class="skills mb-5">지역 경제 활성화 정부 프로젝트</h5>
            <h6><span style="font-weight:bold">인력구성</span>: </h6>
            <h6 class="dev mb-4">4명</h6>
            <h6><span style="font-weight:bold">프로젝트 목적</span></h6>
            <h6 class="dev mb-4">천안시 경제 활성화를 위한 앱 개발</h6>
            <h6><span style="font-weight:bold">주요업무 및 상세역할</span>:</h6>
            <h6 class="dev mb-4">천안시 지역 경제 활성화를 위해 원도심 어플 관련 BackEnd 개발을 맡았습니다. 천안역 주변 대부분의 상권에 대한 DB를 받아 어플 내 매장 검색 기능 및 카테고리 별 분류 작업을 맡았으며, DB에 대한 분류작업, API를 통한 어플 내 날씨 제공을 맡았습니다. Git을 이용하여 Unity 개발자와 협업하여 앱을 만들었으며, PlayStore 및 AppStore에 등록하는 경험을 쌓았습니다. </h6>
            <h6><span style="font-weight:bold">사용언어 및 개발환경</span>: </h6>
            <h6 class="dev mb-4">Python 3.11, MySQL, AWS</h6>
            <a href="https://github.com/moonjr987/Cheonan_backend">https://github.com/moonjr987/Cheonan_backend</a>
          </div>
        </div>
      </div>

      <!-- 반려동물 관련 플랫폼 웹앱개발 -->
      <div class="container mb-5 mt-5"> 
        <div class="row">
          <div class="col-lg-5">
            <h5 class="skills">2023.03 - 2023.08</h5>
          </div>
          <div class="col-lg-7">
            <h5 class="skills mb-5">지역 경제 활성화 정부 프로젝트</h5>
            <h6><span style="font-weight:bold">인력구성</span>: </h6>
            <h6 class="dev mb-4">4명 (FrontEnd 2명, BackEnd 2명)</h6>
            <h6><span style="font-weight:bold">프로젝트 목적</span></h6>
            <h6 class="dev mb-4">AI 모델을 활용한 반려동물 진단, 산책, 및 훈련 일정 등을 체계적으로 관리하기 위함</h6>
            <h6><span style="font-weight:bold">주요업무 및 상세역할</span>:</h6>
            <h6 class="dev mb-4">FrontEnd(JavaScript)로 이 프로젝트에 참여하였습니다. JQuery, BootStrap을 활용하여 페이지에 필요한 디자인적인 요소들을 추가시켰으며, JavaScript를 통해 페이지에 필요한 동적인 요소들을 개발하였습니다.
              뿐만 아니라 BackEnd(Python) 또한 경험하였습니다. RestAPI를 통하여 구체적인 병적 증상과 질문사항을 플랫폼 내에서 작성할 수 있도록 만들어 그에 따른 진단을 할 수 있도록 하였습니다. 로컬에서 작업을 마친 이후 AWS로 서버를 구축시키는 경험 또한 하였습니다. </h6>
            <h6><span style="font-weight:bold">사용언어 및 개발환경</span>: </h6>
            <h6 class="dev mb-4">Python 3.11, JavaScript, Html, CSS3, MySQL, AWS</h6>
            <a href="https://github.com/moonjr987/dangdang_platform">https://github.com/moonjr987/dangdang_platform</a>
          </div>
        </div>
      </div>
    </div>
</section>
</th:block>